@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
  --primary-color: #e82c4a;
  --secondary-color: #c20000;
  --red-color: #d32f2f;
  // Text
  --text-color: #1e232a;
  --heading-color: #3d4756;
  --light-color: #9aa8bd;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  // Main Layout
  --main-layout-header-height: 86px;
  // Search
  --search-width: 260px;
  --desc-color: #474d57;
  --star-gold-color: #ffcb12;
  --shopping-cart-color: #1cce65;
}
// Reset CSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  color: var(--text-color);
  text-rendering: optimizeSpeed;
  background-color: #F9F9FB;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
  font-family: var(--font-secondary);
}

button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: initial;
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
@mixin breakpoint($point: none) {
  // 576px
  @if $point == sm {
    @media (min-width: 36em) {
      @content;
    }
  }
  // 768px
  @else if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
  // 992px
  @else if $point == lg {
    @media (min-width: 62em) {
      @content;
    }
  }
  // 1200px
  @else if $point == xl {
    @media (min-width: 75em) {
      @content;
    }
  }
  // 1400px
  @else if $point == xxl {
    @media (min-width: 87.5em) {
      @content;
    }
  }
  // 375px
  @else {
    @media (min-width: 23.438em) {
      @content;
    }
  }
}
