@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600&display=swap');
:root {
    --primary: #E82C4A;
    --secondary: #C20000;
    --red: #D32F2F;
    --heading-color: #3D4756;
    // Text
    --text-color:  #1E232A;
    --font: 'Montserrat', sans-serif;
    --description-color: #474D57;
    --star-gold-color: #FFCB12;
    --light-yellow: #FFCA12;
    --shopping-cart-color: #1CCE65;
    --border-color: linear-gradient(180deg, rgba(228,47,54,1) 0%, rgba(254,148,159,1) 93%);
}
// Reset CSS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
}