@import '../../components/GlobalStyles/GlobalStyles.module.scss';
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-flow: column;
    min-height: 1000px;
    margin-top: var(--main-layout-header-height);
    width: 100%;
}